body{font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: whitesmoke;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5em;
}
.sidebar{
    background-color: black;
    width: 330px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;flex: 1;
    overflow: auto;
    border-radius: 1rem;
    padding: 0px 15px 0px 15px;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    
}
.nav{
    background-color: #121212;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
      padding: 0.25rem 0.75rem;
      opacity: 0.7;
}
.nav-option:hover{
      opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.op{
    display: flex;
    padding: 0.25rem 0.75rem;
    align-items: center;
    justify-content: space-between;
}
.lib-op img{
    height:  1.25rem;
}
.lib-op a{
    margin-left: 1rem;
}
.icon{
    font-size: 1.25rem;
    margin-right: 1rem;
    opacity: 0.7;
}
.icon:hover{
    opacity: 1;
}
.b1{
    background-color:#232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem 1.25rem;
}
.b1-p1{
    font-size: 1rem;
    font-weight: 600;
}
.b1-p2{
    font-size: 0.85rem;
   opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
}
.darkbadge{
    background-color: black;
    color: white;
}
.lib-box{
    padding: 0px 8px 8px;
}
.sticky-nav{
background-color: #232323;
position: sticky;
top: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 12px 0px 5px;
z-index: 10;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    margin: 10px;
}
 @media (max-width: 1000px) {
    .hide{
        display: none;
    }
 }
 .card{
    background-color:#232323;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
     }
 .card-container{
    display: flex;
 }
 .card-img{
    width: 100%;
    border-radius: 5px;
 }
 .card-title{
    font-weight: 700;
 }
 .card-info{
    opacity:0.5;
    font-size: small;
 }
 .footer{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content:center ;
 }
 .line{
    width: 90%;
    height: 50%;
    border-top: 1px solid wheat;
    opacity: 0.8;
 }
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    display: flex;
   justify-content:space-around;
   align-items: center;
   
}
.player{
    width: 50%;
}
.control{
     width:25% ;
}
.player-controls{
    display: flex;
    justify-content: center;
}
.player-control-item{
 height: 15px;   
 margin-left: 30px;
 opacity: 0.7;
 margin-top: 5px;
 
}
.player-control-item:hover{
    opacity: 1;
}
.player-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
width: 75%;
}
.album-item{
height:20px;
align-items: center;
justify-content: center
}
.control-item{
    height:30px;
align-items: center;
justify-content:space-between
}